.contenedor-padre{
    margin: 20px;
    padding: 20px;
    display: flex;

        .contenedor-hijo{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            padding: 10px;
            margin: 5px 0px 5px 0px;
        }
}

@media (max-width: 768px){
    .contenedor-padre{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
}

@media(max-width:425px){
    .contenedor-padre{
        margin: 10px;
        padding: 0px;
    }
}

iframe{
    margin: 5px 0px 5px 0px;
    border-radius: 7px;
    width: auto;
}

@media (max-width: 768px){
    iframe{
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

