$verde: #39e174;
$azul: #3c74d7;
$violeta: #833ed9;

svg{
    margin: 5px;
    width: 30px;
    height: 30px;
    color: white;
}

.display-header{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
}

.fondo-nav{
    background-color: black;
    padding: 0px;
}

.coso{
    justify-content: right;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.items{
    color: white;
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.item-nosotros:hover{
    color: $verde;
    transition: 0.3s;
}

.item-open-call:hover{
    color: $azul;
    transition: 0.3s;
}

.item-exposiciones:hover{
    color: $violeta;
    transition: 0.3s;
}
