/* tamaño chico */

svg{
    margin: 0px 0px 0px 15px;
    width: 30px;
    height: 30px;
    color: white;
}

@media (min-width: 768px){
    svg{
        width: 25px;
        height: 25px;
    }
}

.boton-dropdown{
    background-color: black;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .fondo-menu{
        background-color: black;

        .menu-item{
            color: white;
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            font-weight: 200;
            margin: 10px;
        }
    }
}

.menu{
    font-size: 15px;
}

@media (max-width: 768px){
    .boton-dropdown{
        display: flex;
    }
    .nav-desktop{
        display: none;
    }
}

@media (min-width: 767px){
    .boton-dropdown{
        display: none;
    }
}

/* tamaño grande */

.estilo-desktop{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 200;
    background-color: black;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.estilo-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    align-items: center;
    list-style: none;
}

.estilo-li{
    margin: 0px 15px 0px 15px;
}

.decoracion-header{
    text-decoration: none;
    color: white;
}

.boton-dropdown-desktop{
    @extend .boton-dropdown
}

.fondo-menu-desktop{
    @extend .fondo-menu
}




