* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.display {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-color: background #39e174;
  background: -webkit-gradient(linear, left top, left bottom, from(#39e174), color-stop(50%, #3c73d7), to(#833ed9));
  background: linear-gradient(180deg, #39e174 0%, #3c73d7 50%, #833ed9 100%);
}

body {
  min-height: 100vh;
}

.img {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  width: 400px;
}

@media (max-width: 425px) {
  .img {
    width: 260px;
  }
}

.fondo-nav {
  background-color: black;
  padding: 0px;
}

.fondo-nav svg {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: white;
}

.fondo-nav .custom-toggler.navbar-toggler {
  border-color: white;
}

.fondo-nav .custom-toggler.navbar-toggler .custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.fondo-nav .items {
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin: 0px 10px;
}

.item-shop:hover {
  color: #39e174;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-nosotros:hover {
  color: #3aba99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-open-call:hover {
  color: #3c74d7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-exposiciones:hover {
  color: #833ed9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fondoh2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 6rem;
  background-color: rgba(255, 255, 255, 0.219);
  padding: 20px;
  margin: 0px;
}

@media (max-width: 768px) {
  .fondoh2 {
    text-align: center;
    font-size: 4rem;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .fondoh2 {
    font-size: 3.2rem;
    padding: 10px;
  }
}

.fondo-section {
  background-color: rgba(255, 255, 255, 0.219);
  margin: 15px;
  border-radius: 7px;
  padding: 15px;
  border: solid 1px rgba(255, 255, 255, 0.425);
}

@media (max-width: 576px) {
  .fondo-section {
    margin: 10px 5px 10px 5px;
    padding: 10px;
  }
}

.estilo-h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 7px;
  font-weight: normal;
  text-align: center;
}

.letras-p {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: normal;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* FOOTER */
.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 425px) {
  .footer {
    font-size: 1.3rem;
    padding: 10px;
  }
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:hover {
  color: #3c74d7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contenedor-padre {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 7px;
}

.contenedor-padre .contenedor-hijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  padding: 10px;
  border-radius: 7px;
}

.contenedor-padre .contenedor-hijo .artista-individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.contenedor-padre .contenedor-hijo .badge {
  margin-bottom: 15px;
}

.contenedor-padre .contenedor-hijo img {
  width: 200px;
  height: 200px;
  margin: auto;
  -webkit-box-shadow: -5px 6px 5px rgba(34, 34, 34, 0.466);
          box-shadow: -5px 6px 5px rgba(34, 34, 34, 0.466);
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
}

.boton {
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px rgba(255, 255, 255, 0.219) solid;
  border-radius: 7px;
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 17px;
  margin-bottom: 20px;
  padding: 10px;
}

.fondo-menu {
  background-color: #87e2b5;
  border: 1px rgba(255, 255, 255, 0.219) solid;
  border-radius: 7px;
}

.fondo-menu .menu-item {
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 17px;
  background-color: #87e2b5;
  padding: 5px 20px;
}

.filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filtros .categorias {
  cursor: pointer;
}

.display-anchor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  .contenedor-padre {
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 425px) {
  .contenedor-hijo {
    font-size: 25px;
  }
  .contenedor-hijo a {
    font-size: 1.7rem;
  }
}

@media (max-width: 425px) {
  .fondoh2 {
    font-size: 3.2rem;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .artista-individual {
    margin: 10px;
  }
}

.contenedor-hijo:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px rgba(255, 255, 255, 0.219) solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.botones:hover {
  background-color: rgba(255, 255, 255, 0.219);
}
/*# sourceMappingURL=artistas.css.map */