@import "resets";
@import "header";
@import "grilla-artistas";
@import "letras";
@import "footer";

main{
    padding: 0px;
}

@media (max-width: 425px){
    .letras-p{
        font-size: 1.3rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 425px){
    .estilo-h3{
        font-size: 2.3rem;
    }
}


.iframes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    width: 400px;
    height: 250px;
    margin: 5px 0px 5px 0px;
    border-radius: 7px;     
}

@media (max-width: 768px){
    .iframes{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}