@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.display {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-color: background #39e174;
  background: -webkit-gradient(linear, left top, left bottom, from(#39e174), color-stop(51%, #3c73d7), to(#833ed9));
  background: linear-gradient(180deg, #39e174 0%, #3c73d7 51%, #833ed9 100%);
}

body {
  min-height: 100vh;
}

/* tamaño grande */
.estilo-desktop {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-weight: 200;
  background-color: black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.estilo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.estilo-li {
  margin: 0px 15px 0px 15px;
}

.decoracion-header {
  text-decoration: none;
  color: white;
}

/* tamaño chico */
svg {
  margin: 0px 0px 0px 15px;
  width: 30px;
  height: 30px;
  color: white;
}

@media (min-width: 768px) {
  svg {
    width: 25px;
    height: 25px;
  }
}

.boton-dropdown {
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: right;
}

.boton-dropdown .fondo-menu {
  background-color: black;
}

.boton-dropdown .fondo-menu .menu-item {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
}

.menu {
  font-size: 15px;
}

@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}

@media (min-width: 767px) {
  .boton-dropdown {
    display: none;
  }
}

h2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 60px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
    font-size: auto;
  }
}

.fondoh2 {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 20px;
}

.fondo-section {
  background-color: rgba(255, 255, 255, 0.219);
  margin: 15px 60px 15px 60px;
  border-radius: 7px;
  padding: 15px;
}

@media (max-width: 576px) {
  .fondo-section {
    margin: 10px 10px 10px 10px;
  }
}

.estilo-h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 7px;
  font-weight: 300;
}

.letras-p {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.letras-p a {
  color: black;
}

/* FOOTER */
.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 300;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: none;
  color: white;
}

.contenedor-padre {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 7px;
}

.contenedor-padre .contenedor-hijo {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-weight: 300;
  padding: 10px;
  border-radius: 7px;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
}

@media (max-width: 425px) {
  img {
    width: 250px;
    height: 250px;
  }
  .contenedor-hijo {
    font-size: 25px;
  }
}

.contenedor-hijo:hover {
  background-color: rgba(255, 255, 255, 0.219);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.artista-individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=expos-actuales.css.map */