@import "resets";
@import "header";
@import "letras";
@import "footer";

.contenedor-padre{
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 7px;
}

@media(max-width: 768px){
    .contenedor-padre{
        margin: 10px;
        padding: 10px;
    }
}

.contenedor-hijo{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    border-radius: 7px;
}

img{
    width: 200px;
    height: 200px;
    margin: auto;
}

@media (max-width: 425px){
    .contenedor-hijo{
        font-size: 25px;

        a{
            font-size: 1.7rem;
        }
    }
}

.contenedor-hijo:hover{
    background-color: rgba(255, 255, 255, 0.219);
    border: 1px rgba(255, 255, 255, 0.425) solid;
    transition: 0.5s;

}

.artista-individual{
    display: flex;
    flex-flow: column;
}

main a{
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

@media (max-width: 425px){
    .fondoh2{
        font-size: 3.2rem;
        padding: 10px;
    }
}