* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.display {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-color: background #39e174;
  background: -webkit-gradient(linear, left top, left bottom, from(#39e174), color-stop(51%, #3c73d7), to(#833ed9));
  background: linear-gradient(180deg, #39e174 0%, #3c73d7 51%, #833ed9 100%);
}

body {
  min-height: 100vh;
}

.img {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  width: 400px;
}

@media (max-width: 425px) {
  .img {
    width: 260px;
  }
}

.fondo-nav {
  background-color: black;
  padding: 0px;
}

.fondo-nav svg {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: white;
}

.fondo-nav .custom-toggler.navbar-toggler {
  border-color: white;
}

.fondo-nav .custom-toggler.navbar-toggler .custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.fondo-nav .items {
  background-color: black;
  color: white;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.item-nosotros:hover {
  color: #39e174;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-open-call:hover {
  color: #3c74d7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-exposiciones:hover {
  color: #833ed9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 425px) {
  .footer {
    font-size: 1.3rem;
    padding: 10px;
  }
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:hover {
  color: #3c74d7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fondo {
  background-image: url(../archivos-css/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  color: black;
  font-weight: 300;
  font-size: 7rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.418);
  padding: 15px;
  margin: 0px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

h2, .layout .letras-box .expo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 425px) {
  h2, .layout .letras-box .expo {
    font-size: 1.7rem;
    font-size: bolder;
  }
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.layout .letras-box {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.layout .letras-box .expo {
  font-size: 15px;
}

@media (max-width: 768px) {
  .layout .letras-box .letras-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.estilo-box {
  margin-top: 120px;
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .estilo-box {
    margin: 15px 0px 15px 0px;
  }
}

main a {
  text-decoration: none;
  color: white;
  list-style: none;
}

/* transformaciones en el main */
.hover:hover {
  background-color: rgba(255, 255, 255, 0.582);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main a:hover {
  color: white;
}
/*# sourceMappingURL=index.css.map */