@import "header";
@import "footer";
@import "resets";
@import "letras";

@media (max-width:768px){
    .fondoh2{
        font-size: 4rem;
    }
}

@media (max-width:425px){
    .fondo-section{
        margin: 15px;
        padding: 15px;
    }
}

a{
    color: black;
}



