@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.display {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-color: background #39e174;
  background: -webkit-gradient(linear, left top, left bottom, from(#39e174), color-stop(51%, #3c73d7), to(#833ed9));
  background: linear-gradient(180deg, #39e174 0%, #3c73d7 51%, #833ed9 100%);
}

body {
  min-height: 100vh;
}

img {
  width: 600px;
}

/* tamaño grande */
i {
  margin: 0px 0px 0px 15px;
}

.estilo-desktop {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.7rem;
  font-weight: 200;
  background-color: black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.estilo-desktop .estilo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px;
}

.estilo-desktop .estilo-ul .estilo-li {
  margin: 0px 15px 0px 15px;
  list-style: none;
  color: white;
}

.estilo-desktop .estilo-ul .decoracion-header {
  text-decoration: none;
  color: white;
}

.estilo-desktop .estilo-ul .hover-nosotros:hover {
  color: #39e174;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.estilo-desktop .estilo-ul .hover-expos-anteriores:hover {
  color: #39a4ac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.estilo-desktop .estilo-ul .hover-open-call:hover {
  color: #833ed9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* tamaño chico */
.dropdown {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  font-weight: 200;
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.dropdown .dropdown-menu {
  background-color: black;
}

.dropdown .dropdown-menu .dropdown-item {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  font-weight: 200;
}

@media (max-width: 767px) {
  .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .dropdown {
    display: none;
  }
}

h2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 6rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
    font-size: 5rem;
  }
}

.fondoh2 {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 20px;
}

.fondo-section {
  background-color: rgba(255, 255, 255, 0.219);
  margin: 15px;
  border-radius: 7px;
  padding: 15px;
}

@media (max-width: 576px) {
  .fondo-section {
    margin: 10px;
  }
}

.estilo-h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 7px;
  font-weight: 300;
}

.letras-p {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 300;
}

a:hover {
  color: black;
}

/* FOOTER */
.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 300;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:hover {
  color: white;
}

.contenedor {
  margin: 15px 60px 15px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .contenedor {
    margin: 15px 30px 15px 30px;
  }
}

.contenedor-hijo {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.219);
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
}

@media (max-width: 768px) {
  .contenedor-hijo {
    width: 100%;
    padding: 10px;
  }
}

img {
  width: 300px;
  height: 300px;
  border-radius: 7px;
}

@media (max-width: 576px) {
  img {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=open-call.css.map */