@import "resets";
@import "header";
@import "footer";
@import "letras";

.contenedor{
    margin: 15px 60px 15px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .contenedor-hijo{
        width: 50%;
        background-color: rgba(255, 255, 255, 0.219);
        padding:20px;
        border-radius: 7px;
        margin: 10px;
    }
}

@media (max-width: 768px){
    .contenedor{
        margin: 15px 30px 15px 30px;
        align-items: center;
    }
}

@media (max-width: 425px){
    .contenedor .contenedor-hijo{
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

.pie-de-foto{
    @extend .letras-p;
    font-weight: bolder;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

@media (max-width: 576px){
    img{
        width: 200px ;
        height: 200px;
    }
}

main a{
    color: black;
}

