*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.display{
    display: grid;
    grid-template-rows: auto 1fr auto;

    background-color: background rgb(57,225,116);
    background: linear-gradient(180deg, rgba(57,225,116,1) 0%, rgba(60,115,215,1) 51%, rgba(131,62,217,1) 100%);
}

body{
    min-height: 100vh
}

 /* HEADER */

/* tamaño grande */
i{
    margin: 0px 0px 0px 15px;
}

 .estilo-desktop{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 200;
    background-color: black;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estilo-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.estilo-li{
    margin: 0px 15px 0px 15px;
    text-decoration:none;
    color: white;
    list-style: none;
}

.decoracion-header{
    text-decoration:none;
    color: white;
}

/* tamaño chico */

.dropdown{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 200;
    background-color: black;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 200;
}

@media (max-width: 768px){
    .dropdown{
        display: flex;
    }
    .nav-desktop{
        display: none;
    }
}

@media (min-width: 768px){
    .dropdown{
        display: none;
    }
}

/* transformaciones del header */

.hover-nosotros:hover{
    color: #39e174;
    transition: 0.5s;
}

.hover-expos-anteriores:hover{
    color: #39a4ac;
    transition: 0.5s;
}

.hover-open-call:hover{
    color: #833ed9;
    transition: 0.5s;
}

/* MAIN */

h2{
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
    font-weight: lighter;
}

@media (max-width: 768px){
    h2{
        text-align: center;
        font-size: 55px;
    }
}

.fondoh2{
    background-color: rgba(255, 255, 255, 0.219);
    padding:20px;
}

.fondo-section{
    background-color: rgba(255, 255, 255, 0.219);
    margin: 15px 60px 15px 60px;
    border-radius: 7px;
    padding: 15px;
}

@media (max-width: 576px){
    .fondo-section{
        margin: 15px 30px 15px 30px;
    }
}

.estilo-h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 7px;
    font-weight: 300;
}

.letras-p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
}

.deco-open-call{
    text-decoration: underline 1px;
    color: black;
}

/* FOOTER */

.footer{
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 300;
}

footer a{
    text-decoration: none;
    color: white;
}