*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: background rgb(57,225,116);
    background: linear-gradient(180deg, rgba(57,225,116,1) 0%, rgba(60,115,215,1) 51%, rgba(131,62,217,1) 100%);
    min-height: 100vh;
}

.display{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */

/* tamaño grande */
i{
    margin: 0px 0px 0px 15px;
}

 .estilo-desktop{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 200;
    background-color: black;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.estilo-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}

.estilo-li{
    margin: 0px 15px 0px 15px;
}

.decoracion-header{
    text-decoration: none;
    color: white;
}

/* tamaño chico */

.dropdown{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.menu{
    font-size: 20px;
    color: white;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
}

@media (max-width: 767px){
    .dropdown{
        display: flex;
    }
    .nav-desktop{
        display: none;
    }
}

@media (min-width: 768px){
    .dropdown{
        display: none;
    }
}

/* transformaciones del header */

.hover-nosotros:hover{
    color: #39e174;
    transition: 0.5s;
}

.hover-expos-anteriores:hover{
    color: #39a4ac;
    transition: 0.5s;
}

.hover-open-call:hover{
    color: #833ed9;
    transition: 0.5s;
}

/* MAIN */

h2{
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
    font-weight: lighter;
    text-align:left;
}

@media (max-width: 768px){
    h2{
        font-size: 50px ;
    }
}

.fondoh2{
    background-color: rgba(255, 255, 255, 0.219);
    padding: 20px;
}

.carousel{
    width: 600px;
}

.contenedor-padre{
    margin: 2rem;
    padding: 2rem;
    display: flex;
}

@media (max-width: 768px){
    .contenedor-padre{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        }
}

.contenedor-hijo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.fondo-section{
    background-color: rgba(255, 255, 255, 0.219);
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
}

.estilo-h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 768px){
    .estilo-h3{
        font-size: 35px;
    }
}

.letras-p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0px 15px 0px;
}

@media (max-width: 425px){
    .letras-p{
        font-size: 2.5rem;
    }
}

section a{
    text-decoration: underline 1px;
    color: black;
}

img{
    margin: 1rem;
}

.redes{
    text-align: center;
}

/* FOOTER */

.footer{
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 300;
}

@media (max-width:768px){
    .footer{
        font-size: 20px;
    }
}

footer p{
    margin: 0px;
}

footer a{
    text-decoration: none;
    color: white;
}
